# BUS485 Driver Configuration

mainmenu "RS485 Bus Driver Configuration"

config BUS485
		bool "RS485 Bus Driver"
		depends on UART_INTERRUPT_DRIVEN
		help
			Enable RS485 driver with exclusive bus access

if BUS485

config RS485_INIT_PRIORITY
		int "Bus initialization priority"
		default 80
		range 0 99
		help
			Initialization priority within _level

endif # BUS485

source "Kconfig.zephyr"