/ {
	bus485: bus485 {
        compatible = "custom,bus485";
        label = "bus485";  // Обязательно!
        
        uart = <&uart0>;
        de-re-gpios = <&gpio0 4 0>; // 0 - GPIO_ACTIVE_HIGH; слот для DE/RE?
        pre-delay-us = <100>;
        post-delay-us = <100>;
        current-speed = <115200>;

        status = "okay";
    };
};